@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  --color-primary: #4caf50; 
  --color-secondary: #388E3C; 
  --color-background: #f8f8f8; 
  --color-text: #444444;
  --color-secondary-text: #757575;
  --color-border: #BDBDBD; 
  --color-hover: #388E3C; 
}

/* Global Styles */
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
  color: var(--color-primary);
}

/* Buttons */
.button-primary {
  background-color: var(--color-primary);
  color: white;
  font-family: "Fredoka", sans-serif;
}

.button-primary:hover {
  background-color: var(--color-hover);
}

.button-secondary {
  background-color: white;
  border: 2px solid var(--color-border);
  color: var(--color-primary);
  font-family: "Fredoka", sans-serif;
}

.button-secondary:hover {
  border-color: var(--color-hover);
  color: var(--color-hover);
}
